<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <!-- Be sure to leave the brand out there if you want it shown -->
            <a class="brand" href="#" data-dojo-attach-point="homeNode"></a>
            
            <ul class="nav">
                <li><a href="#" data-dojo-attach-point="releaseIndexNode"></a></li>
                <li><a href="#" data-dojo-attach-point="storageNode"></a></li>
            </ul>

            <!-- Everything you want hidden at 940px or less, place within here -->
            <div class="nav-collapse">
            <!-- .nav, .navbar-search, .navbar-form, etc -->
            </div>
            <!--
            <ul class="nav pull-right">
                <li>asdf</li>
            </ul>
            -->
        </div>
    </div>
</div>