<div class="well well-large">
    <p>Listen to some music while you play with this app</p>
    
    <div class="btn-group">
        <a class="btn" href="#" data-dojo-attach-point="prevNode"><i class="icon-backward"></i></a>
        <a class="btn" href="#" data-dojo-attach-point="playNode"><i class="icon-play"></i></a>
        <a class="btn" href="#" data-dojo-attach-point="nextNode"><i class="icon-forward"></i></a>
    </div>
    
    <div data-dojo-attach-point="infoNode">
        <h2 class="track-title" data-dojo-attach-point="trackTitleNode">Title</h2>
        <p class="track-artist" data-dojo-attach-point="trackArtistNode">Artist</p>
    </div>
</div>