<div class="well well-large player">
    <h2>Play &amp; Browse</h2>
    
    <div class="btn-group">
        <a class="btn" href="#" data-dojo-attach-point="prevNode"><i class="icon-backward"></i></a>
        <a class="btn" href="#" data-dojo-attach-point="playNode"><i class="icon-play"></i></a>
        <a class="btn" href="#" data-dojo-attach-point="nextNode"><i class="icon-forward"></i></a>
    </div>
    
    <div data-dojo-attach-point="infoNode" class="info">
        Track <span data-dojo-attach-point="trackNrNode"></span> of <span data-dojo-attach-point="numTracksNode"></span>
        <span data-dojo-attach-point="positionOuterNode" style="display:none">
            // <span data-dojo-attach-point="positionNode"></span>
        </span>
        <h2 class="track-title" data-dojo-attach-point="trackTitleNode">Title</h2>
        <!--<p class="track-artist" data-dojo-attach-point="trackArtistNode">Artist</p>-->
    </div>
    
    <p><a href="http://www.kompakt.fm/releases/we_are_really_sorry_880319606335">We are really sorry</a>! That's right, thanks <a href="http://www.facebook.com/pages/Pachanga-Boys-Hippie-Dance/315216318504660">Pachanga Boys</a></p>
</div>