<div>
    <div data-dojo-attach-point="navigationNode"></div>
    <ul data-dojo-attach-point="breadcrumbsNode"></ul>
    <h1 data-dojo-attach-point="sectionTitleNode"></h1>
    <ul data-dojo-attach-point="actionsNode"></ul>
    <div data-dojo-attach-point="notificationNode"></div>
    
    <div class="well well-large">
        <!--<div data-dojo-attach-point="filterNode"></div>-->
        <div data-dojo-attach-point="gridNode"></div>
    </div>
    
    <div data-dojo-attach-point="playerNode"></div>
    <div data-dojo-attach-point="footerNode"></div>
</div>