<div>
    <div data-dojo-attach-point="navigationNode"></div>
    
    <div class="jumbotron subhead">
        <div class="container">
            <h1>Dojorama</h1>
            <p class="lead">Single page demo application based on Dojo, Twitter Bootstrap and history API</p>
            <p>
                <a onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download Dojorama']);" class="btn btn-primary btn-large" href="http://github.com/sirprize/dojorama">Download Dojorama</a>
            </p>
        </div>
    </div>
    
    <div class="container main">
        <div class="well well-large">
            This is the companion website and live demo application for the tutorial: <a href="http://sirprize.me/scribble/dojorama-introduction-building-a-dojo-single-page-application/">Building a Dojo single page application</a>
        </div>
        
        <div data-dojo-attach-point="playerNode"></div>

        <div class="well well-large">
            <p>Dojorama is built on top of these fine libraries:</p>
            <ul>
                <li><a href="http://github.com/dojo/dojo">dojo/dojo</a> - The Dojo Toolkit</li>
                <li><a href="http://github.com/dojo/util">dojo/utils</a> - Dojo build tool and unit testing (DOH)</li>
                <li><a href="http://github.com/SitePen/dgrid">SitePen/dgrid</a> - Dojo grid widget</li>
                <li><a href="http://github.com/kriszyp/put-selector">kriszyp/put-selector</a> - DOM manipulation (dependency of dgrid)</li>
                <li><a href="http://github.com/kriszyp/xstyle">kriszyp/xstyle</a> - CSS loader (dependency of dgrid)</li>
                <li><a href="http://github.com/twitter/bootstrap">twitter/bootstrap</a> - Frontend framework (CSS only)</li>
                <li><a href="http://github.com/scottschiller/SoundManager2">scottschiller/SoundManager2</a> - JavaScript sound API</li>
                <li><a href="http://github.com/sirprize/mijit">sirprize/mijit</a> - Essential Dijit stuff (<code>_WidgetBase</code>, <code>_TemplatedMixin</code> and <code>registry</code>)</li>
                <li><a href="http://github.com/sirprize/dojomat">sirprize/dojomat</a> - Application controller</li>
                <li><a href="http://github.com/sirprize/routed">sirprize/routed</a> - Routing</li>
                <li><a href="http://github.com/sirprize/dobolo">sirprize/dobolo</a> - Dojo port of some Twitter Bootstrap JavaScript components</li>
                <li><a href="http://github.com/sirprize/dojo-data-model">sirprize/dojo-data-model</a> - Data model for Dojo Applications</li>
                <li><a href="http://github.com/sirprize/dojo-form-controls">sirprize/dojo-form-controls</a> - Dojo widgets for native form controls</li>
                <li><a href="http://github.com/sirprize/dojo-local-storage">sirprize/dojo-local-storage</a> - LocalStorage wrapper providing dojo/store interface</li>
                <li><a href="http://github.com/sirprize/dojo-sm2-playlist">sirprize/dojo-sm2-playlist</a> - Dojo/SoundManager2 playlist</li>
            </ul>
        </div>
    </div>
    
    <div data-dojo-attach-point="footerNode"></div>
</div>