[submodule "vendor/kriszyp/put-selector"]
	path = vendor/kriszyp/put-selector
	url = git://github.com/kriszyp/put-selector.git
[submodule "vendor/kriszyp/xstyle"]
	path = vendor/kriszyp/xstyle
	url = git://github.com/kriszyp/xstyle.git
[submodule "vendor/sirprize/dojo-data-model"]
	path = vendor/sirprize/dojo-data-model
	url = git://github.com/sirprize/dojo-data-model.git
[submodule "vendor/sirprize/dojo-form-controls"]
	path = vendor/sirprize/dojo-form-controls
	url = git://github.com/sirprize/dojo-form-controls.git
[submodule "vendor/sirprize/dojo-local-storage"]
	path = vendor/sirprize/dojo-local-storage
	url = git://github.com/sirprize/dojo-local-storage.git
[submodule "vendor/sirprize/dojomat"]
	path = vendor/sirprize/dojomat
	url = git://github.com/sirprize/dojomat.git
[submodule "vendor/sirprize/mijit"]
	path = vendor/sirprize/mijit
	url = git://github.com/sirprize/mijit.git
[submodule "vendor/sirprize/routed"]
	path = vendor/sirprize/routed
	url = git://github.com/sirprize/routed.git
[submodule "vendor/SitePen/dgrid"]
	path = vendor/SitePen/dgrid
	url = git://github.com/SitePen/dgrid.git
[submodule "vendor/scottschiller/SoundManager2"]
	path = vendor/scottschiller/SoundManager2
	url = git://github.com/scottschiller/SoundManager2.git
[submodule "vendor/sirprize/dojo-sm2-playlist"]
	path = vendor/sirprize/dojo-sm2-playlist
	url = git://github.com/sirprize/dojo-sm2-playlist.git
[submodule "vendor/dojo/util"]
	path = vendor/dojo/util
	url = git://github.com/dojo/util.git
[submodule "vendor/dojo/dojo"]
	path = vendor/dojo/dojo
	url = git://github.com/dojo/dojo.git
[submodule "vendor/sirprize/dobolo"]
	path = vendor/sirprize/dobolo
	url = git://github.com/sirprize/dobolo.git
[submodule "vendor/twbs/bootstrap"]
	path = vendor/twbs/bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "vendor/scottjehl/Respond"]
	path = vendor/scottjehl/Respond
	url = https://github.com/scottjehl/Respond.git
[submodule "vendor/aFarkas/html5shiv"]
	path = vendor/aFarkas/html5shiv
	url = https://github.com/aFarkas/html5shiv.git
