[submodule "vendor/dojo/dojo"]
	path = vendor/dojo/dojo
	url = git://github.com/dojo/dojo.git
[submodule "vendor/dojo/util"]
	path = vendor/dojo/util
	url = git://github.com/dojo/util.git
[submodule "vendor/kriszyp/put-selector"]
	path = vendor/kriszyp/put-selector
	url = git://github.com/kriszyp/put-selector.git
[submodule "vendor/kriszyp/xstyle"]
	path = vendor/kriszyp/xstyle
	url = git://github.com/kriszyp/xstyle.git
[submodule "vendor/sirprize/dobolo"]
	path = vendor/sirprize/dobolo
	url = git://github.com/sirprize/dobolo.git
[submodule "vendor/sirprize/dojo-data-model"]
	path = vendor/sirprize/dojo-data-model
	url = git://github.com/sirprize/dojo-data-model.git
[submodule "vendor/sirprize/dojo-form-controls"]
	path = vendor/sirprize/dojo-form-controls
	url = git://github.com/sirprize/dojo-form-controls.git
[submodule "vendor/sirprize/dojo-local-storage"]
	path = vendor/sirprize/dojo-local-storage
	url = git://github.com/sirprize/dojo-local-storage.git
[submodule "vendor/sirprize/dojomat"]
	path = vendor/sirprize/dojomat
	url = git://github.com/sirprize/dojomat.git
[submodule "vendor/sirprize/mijit"]
	path = vendor/sirprize/mijit
	url = git://github.com/sirprize/mijit.git
[submodule "vendor/sirprize/routed"]
	path = vendor/sirprize/routed
	url = git://github.com/sirprize/routed.git
[submodule "vendor/SitePen/dgrid"]
	path = vendor/SitePen/dgrid
	url = git://github.com/SitePen/dgrid.git
[submodule "vendor/twitter/bootstrap"]
	path = vendor/twitter/bootstrap
	url = git://github.com/twitter/bootstrap.git
