<form class="form-horizontal" data-dojo-attach-event="onsubmit:_onSubmit">
    <fieldset>
        <div data-dojo-attach-point="titleNode"></div>
        <div data-dojo-attach-point="formatNode"></div>
        <div data-dojo-attach-point="releaseDateNode"></div>
        <div data-dojo-attach-point="priceNode"></div>
        <div data-dojo-attach-point="infoNode"></div>
        <div data-dojo-attach-point="publishNode"></div>
        <button data-dojo-attach-point="submitNode">Save</button>
    </fieldset>
</form>