<div>
    <div class="clearfix">
        <form class="form-inline pull-right" data-dojo-attach-point="filterFormNode">
            <div class="form-group">
                <input data-dojo-attach-point="filterInputNode" class="form-control">
            </div>
            <button data-dojo-attach-point="filterSubmitNode" class="btn"></button>
        </form>
    </div>

    <br>
    
    <div data-dojo-attach-point="mainNode" style="display:none">
        <div data-dojo-attach-point="gridNode"></div>
    
        <div class="btn-toolbar">
            <button data-dojo-attach-point="gridSaveButtonNode" class="btn"></button>
            <button data-dojo-attach-point="gridDeleteButtonNode" class="btn btn-danger"></button>
        </div>
    </div>
</div>