<div>
    <div data-dojo-attach-point="navigationNode"></div>

    <div class="container main">
        <ul data-dojo-attach-point="breadcrumbsNode"></ul>
        
        <div data-dojo-attach-point="mainNode">
            <h1>Storage</h1>
            <!--<button class="btn" data-dojo-attach-event="onclick:_onNewObjClick">New Obj</button>
            <button class="btn" data-dojo-attach-event="onclick:_onRemObjClick">Remove Obj</button>-->
            
            <div class="well well-lg">
                <div style="overflow:auto">
                    <table class="table table-striped local-storage-data">
                        <thead>
                            <th>Id</th>
                            <th>Data</th>
                        </thead>
                        <tbody data-dojo-attach-point="tbodyNode"></tbody>
                    </table>
                </div>
                
                <button class="btn" data-dojo-attach-event="onclick:_onClearClick">Clear</button>
            </div>
        </div>
    
        <div data-dojo-attach-point="playerNode"></div>
    </div>
    
    <div data-dojo-attach-point="footerNode"></div>
</div>