<div>
    <div data-dojo-attach-point="navigationNode"></div>
    
    <div class="container main">
        <ul data-dojo-attach-point="breadcrumbsNode"></ul>
        <h1 data-dojo-attach-point="sectionTitleNode"></h1>
        <ul data-dojo-attach-point="actionsNode"></ul><br>
        <div data-dojo-attach-point="notificationNode"></div>
    
        <div class="well well-lg">
            <div data-dojo-attach-point="gridNode"></div>
        </div>
    
        <div data-dojo-attach-point="playerNode"></div>
    </div>
    
    <div data-dojo-attach-point="footerNode"></div>
</div>