<div class="calendar dropdown-menu">
    <div class="calendar-days">
        <table class="table-condensed">
            <thead>
                <tr>
                    <th class="prev"><i class="glyphicon glyphicon-arrow-left"></i></th>
                    <th colspan="5" class="switch"></th>
                    <th class="next"><i class="glyphicon glyphicon-arrow-right"></i></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="calendar-months">
        <table class="table-condensed">
            <thead>
                <tr>
                    <th class="prev"><i class="glyphicon glyphicon-arrow-left"></i></th>
                    <th colspan="5" class="switch"></th>
                    <th class="next"><i class="glyphicon glyphicon-arrow-right"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="calendar-years">
        <table class="table-condensed">
            <thead>
                <tr>
                    <th class="prev"><i class="glyphicon glyphicon-arrow-left"></i></th>
                    <th colspan="5" class="switch"></th>
                    <th class="next"><i class="glyphicon glyphicon-arrow-right"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="7"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>